body{
  background-color: #688AD9;
}

.container {
  width: 600px;
  margin: 0 auto;
}


.card {
  background: #B0BCD9;
  padding: 30px;
  border: 1px solid rgb(100, 72, 179);
  margin-bottom: 20px;
  border-radius: 4%;
  text-align: center;
  box-shadow: 10px 10px 30px #48547C;
}

img {
  width: 200pxs;
  border-radius: 5%;

}

.card_botton {
  /* background: white; */
  padding: 1px;
  border: 1px solid ##688AD9;
  margin-bottom: 20px;
  border-radius: 4%;
  text-align: center;
}


h1{
  font-family: "Roboto";
  color:#48547C;
}

h2{
  font-family: "Roboto";
  color:rgb(255, 255, 255);
  font-size: 25px;
}

p{
  font-family: "Roboto";
  color:rgb(71, 71, 105);
  line-height: bold;
  margin-bottom: 8%;

}

.btn-profile{
  text-decoration: none;
  background-color: #6A68D9;
  padding: 12px;
  border-radius: 8%;
}

.follow {
  font-family: "Roboto";
  font-size: 40pxs;
}

i {
  font-size: 36px;
}

a {
  color:rgb(255, 255, 255)
}

a:hover {
  color: rgb(71, 71, 105);
}

.text-center {
  text-align: center;
}

.st-inline{
  box-shadow: 20px 20px 20px #48547C;
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

/* .list-inline > li {
  display: inline-block;
  padding: 0px 20px;
} */
